/* Global Styles */
body {
    font-family: "Segoe UI", sans-serif;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
 
  .footer-header {
    margin: 0;
  }
  
  /* Navigation */
 
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
 
  /* Buttons */
  .btn {
    background-color: #333;
    color: #fff;
  }
  
  .btn:hover {
    background-color: #555;
  }
  
  .icon-link {
    color: #fff;
    font-size: 24px;
    margin: 0 10px;
    transition: color 0.3s ease;
  }
  
  .copyright {
    margin-top: 20px;
  }
  .twitter:hover{
    color: #55acee;
  }
  
  .facebook:hover{
    color:#1877F2;
  }
  
  .instagram:hover{
    color:#c13584;
  }
  
  .linkedin:hover{
    color:#0a66c2;
  }