/* Global Styles */
body {
  font-family: "Segoe UI", sans-serif;
  background-color: #f8f9fa;
  color: #333;
  margin: 0;
  padding: 0;
}

/* Navigation */
.navbar {
  background-color: #333;
}.navbar .getstarted:hover {
  background-color: #fff; /* Background color on hover */
  color: #000; /* Text color on hover */
  border-color: #fff; /* Border color on hover, if applicable */
}
.navbar-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* Dynamic hover effect for navlinks */
.navbar .nav-link:hover::after {
  transform: scaleX(1); /* Scale effect on hover */
  background-color: #00ff00; /* Change background color on hover */
}

.nav-item {
  text-align: center;
  fill-opacity: inherit;
}

.navright {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  text-align: right;
}

.navbar-brand img {
  max-width: 120%;
  height: auto;
  object-fit: contain;
  padding: 0;
}

/* Buttons */
.btn {
  background-color: #333;
  color: #fff;
}

.btn:hover {
  background-color: #555;
}

/* Dropdown */
.dropdown {
  position: relative;
}

.dropdown-menu {
  top: 100%;
  left: 0;
  z-index: 1000;
  align-items: right;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .btn {
    font-size: 0.9rem;
  }
}
/* Dynamic underline effect for navbar links */
.nav-link {
  position: relative;
  color: #333; /* Change text color */
  text-decoration: none; /* Remove default underline */
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: #fff !important; /* Add !important */
  transition: width 0.3s ease, left 0.3s ease;
}


.nav-link:hover::after {
  width: 100%; /* Expand the underline on hover */
  left: 0; /* Move the underline to the start of the link */
}


/* Limit navbar brand size */
.navbar-brand img {
  max-width: 100px; /* Adjust the max-width as needed */
  height: auto;
}
